@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;800&display=swap');

.light {
    --primary: rgb(40, 40, 40);
    --secondary: rgb(65, 65, 65);
    --accent: rgb(145, 145, 145);
    --dark: rgb(230, 230, 230);
}

.dark {
    --primary: rgb(175, 175, 175);
    --secondary: rgb(150, 150, 150);
    --accent: rgb(110, 110, 110);
    --dark: #0D1117;
}

.body {
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
}

.loading {
    color: var(--primary);
    font-size: 2em;
    font-weight: 800;
}

.timeout {
    color: var(--secondary);
    font-size: 1em;
    font-weight: 400;
    margin-top: 0.5em;
}

.fetchButton {
    background-color: var(--secondary);
    color: var(--dark);
    border: none;
    outline: none;
    box-sizing: content-box;
    padding: 1em;
    border-radius: 0.5em;
    margin-top: 2em;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.fetchButton:hover {
    background-color: var(--primary);
    scale: 102%;
}

.fetchButton:active {
    background-color: var(--accent);
    scale: 98%;
}

.creationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.creationInput {
    background-color: var(--primary);
    color: var(--dark);
    font-family: 'Rubik', sans-serif;
    font-size: 2em;
    font-weight: 800;
    width: 2.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10%;
    border: transparent;
    outline: transparent;
    caret-color: var(--dark);
    padding: 0;
}